# Aegis SAST Configuration
# Provide your Google Gemini API Key for CVE threat intelligence correlation (Optional)
GEMINI_API_KEY=AQ.Ab8RN6IFNlvfVIZHvLXWV_rIU2jYY3WBfxG0_-XWCuEefoxQIQ
GEMINI_MODEL=gemini-2.5-flash
