
/* -----------------------------------------------------
   3D Orbital Loader (Global)
   ----------------------------------------------------- */

.orbit-loader-container {
    perspective: 200px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .orbit-dot {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border: 6px outset #2d3748; /* Dark border default */
    transform-origin: 50% 50%;
    transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
    background-color: transparent;
    animation: orbit-dot1 1800ms cubic-bezier(.49,.06,.43,.85) infinite;
  }
  
  .orbit-dot:nth-child(2) {
    width: 140px;
    height: 140px;
    border-width: 4px;
    border-color: #5932ea; /* Primary Accent */
    animation-name: orbit-dot2;
    animation-delay: 150ms;
    box-shadow: inset 0 0 15px 0 rgba(89, 50, 234, 0.1);
    opacity: 0.8;
  }
  
  .orbit-dot:nth-child(3) {
    width: 160px;
    height: 160px;
    border-width: 2px;
    border-color: #ffffff; /* White Outer */
    animation-name: orbit-dot3;
    animation-delay: 300ms;
    box-shadow: inset 0 0 15px 0 rgba(255, 255, 255, 0.1);
    opacity: 0.6;
  }
  
  @keyframes orbit-dot1 {
    0% {
      border-color: #2d3748;
      transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
    }
    50% {
      border-color: #5932ea;
      transform: rotateX(20deg) rotateY(20deg) rotateZ(50deg) translateZ(0px);
    }
    100% {
      border-color: #2d3748;
      transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
    }
  }
  
  @keyframes orbit-dot2 {
    0% {
      border-color: #5932ea;
      box-shadow: inset 0 0 15px 0 rgba(89, 50, 234, 0.1);
      transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
    }
    50% {
      border-color: #ffffff;
      box-shadow: inset 0 0 15px 0 rgba(89, 50, 234, 0.5);
      transform: rotateX(20deg) rotateY(20deg) rotateZ(50deg) translateZ(0px);
    }
    100% {
      border-color: #5932ea;
      box-shadow: inset 0 0 15px 0 rgba(89, 50, 234, 0.1);
      transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
    }
  }
  
  @keyframes orbit-dot3 {
    0% {
      border-color: #9197b3;
      transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
    }
    50% {
      border-color: #5932ea;
      transform: rotateX(20deg) rotateY(20deg) rotateZ(50deg) translateZ(0px);
    }
    100% {
      border-color: #9197b3;
      transform: rotateX(24deg) rotateY(20deg) rotateZ(0deg) translateZ(-25px);
    }
  }
